<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<!--配置Solr的客户端 -->
	<bean id="httpSolrServer"
		class="org.apache.solr.client.solrj.impl.HttpSolrServer">
		<!-- 注入solr连接地址 -->
		<constructor-arg index="0" value="${solr.baseUrl}" />
		<!-- 设置重试次数 -->
		<property name="maxRetries" value="${solr.maxRetries}" />
		<!-- 建立连接的最长时间 -->
		<property name="connectionTimeout"
			value="${solr.connectionTimeout}" />
	</bean>
	<!--配置Solr的客户端 -->
<!-- 	<bean id="cloudSolrClient" class="org.apache.solr.client.solrj.impl.CloudSolrClient">
		<constructor-arg name="zkHost" value="${solrCloud.zkHosts}"></constructor-arg>
		<property name="defaultCollection" value="aiyou_core"></property>
	</bean> -->
	

</beans>