<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huazai.aiyou.search.mapper.SearchItemMapper">
	<select id="getSearchItemList"
		resultType="com.huazai.aiyou.common.dto.SearchItemDto">
		SELECT a.id, a.title, a.sell_point, a.price, a.image
		,
		b.NAME AS category_name, c.item_desc
		FROM tb_item a, tb_item_cat b,
		tb_item_desc c
		WHERE (a.cid = b.id
		AND a.id = c.item_id
		AND a.status = 1)
	</select>

	<select id="getTbItemById"
		resultType="com.huazai.aiyou.common.dto.SearchItemDto">
		SELECT a.id, a.title, a.sell_point, a.price, a.image
		,
		b.NAME AS category_name, c.item_desc
		FROM tb_item a, tb_item_cat b,
		tb_item_desc c
		WHERE (a.cid = b.id
		AND a.id = c.item_id
		AND a.status = 1) AND a.id = #{itemId}
	</select>

</mapper>